body {
  background-color: rgb(255, 255, 255);
}

.App {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.section {
  margin: auto;
  width: 98%;
  height: 96vh;
  background-color: rgb(162, 0, 255);
  border: solid rgba(0, 0, 0, 0.966);
  text-align: center;
  border-width: 1px;
}

#one {
  background-image: url("./one.png");
  background-size: cover;
  background-position: center;
}

#two {
  background-image: url("./two.png");
  background-size: cover;
  background-position: center;
}

#three {
  background-image: url("./jo.png");
  background-size: cover;
  background-position: center;
}

#four {
  background-image: url("./hard.png");
  background-size: cover;
  background-position: center;
}

h1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 30vh;
  font-size: 3rem;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-transform: translateZ(0);
}

p {
  position: fixed;
  left: 0;
  right: 0;
  top: 50vh;
  width: 90%;
  margin: auto;
  white-space: pre-line;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.blur {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  height: 96vh;
  width: 100%;
  position: relative;
  transition: 0.5s ease-in;
  color: rgba(0, 0, 0, 0);
}

.blur:hover {
  background: rgba(56, 56, 56, 0.178);
  backdrop-filter: blur(15px);
  height: 96vh;
  width: 100%;
  color: rgb(255, 255, 255);
}

.content {
  width: 95%;
  height: fit-content;
  max-height: 60vh;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

@media only screen and (max-width: 1250px) {
  .App {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: auto;
  }
  p {
    font-size: 0.8rem;
  }
}
